<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <% if (user) { %>
            <a href="/users/<%= user._id %>/cars">My Cars</a>
            <a href="/auth/sign-out">Sign Out</a>
        <% } else { %>
            <a href="/auth/sign-in">Sign in</a>
            <a href="/auth/register">Register</a>
        <% } %>
    </nav>
</body>
</html>
  