<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car Maintenance</title> 
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
    <div class="form-group">
  <h1>Welcome to the Car Maintenance App</h1>
  <a class="register-link" href="/auth/register">Register</a>
  <a class="signin-link" href="/auth/sign-in">Sign in</a>
</div>
</div>
</body>
</html>


