body {
    font-family: 'Arial', sans-serif;
    background-image: url("https://shorturl.at/sg3qH");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
  }

  .container {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    margin: 100px ;
    width: 100%;
    max-width: 700px;
  }

  .container.active {
    display: block;
    animation: fade-in 0.5s ease;
  }

  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 28px;
    
  }

  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .inputs {
    margin-top: 2em;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px;
    background-color: white;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }

  .signin:hover{
    background-color: #0056b3;
  }

  .a {
   color: #0056b3;
    }