body {
    font-family: 'Arial', sans-serif;
    background-image: url("https://shorturl.at/sg3qH");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
  }

  .container {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
  }

  .container.active {
    display: block;
    animation: fade-in 0.5s ease;
  }

  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 35px;
    font-family: Black Ops One ; 
    
  }

  .register-link, .signin-link {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }

  .register-link:hover {
    background-color: #0056b3;
  }

  .signin-link:hover{
    background-color: #0056b3;
  }
 
  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
